{% extends "admin/base.html" %}
{% block title %}{% if form.instance %}Edit{% else %}New{% endif %} Post{% endblock %}

{% block body %}
<div id="main">
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript"> 
//<![CDATA[
bkLib.onDomLoaded(function() {
        new nicEditor({fullPanel : true}).panelInstance('message');
  });
  //]]>
  </script> 
    <h1>{% if form.instance %}Edit{% else %}New{% endif %} Post</h1>
    <form method="post" action="">
        <table id="form">
            {{form}}
            <tr>
                <th class="transparent">&nbsp;</th>
                <td><input type="submit" value="Save Post" /></td>
            </tr>
        </table>

    </form>
    
    {% include "admin/edit_notes.html" %}
</div>
{% endblock %}
